/* font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    background-image: url('img/living-room-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 100vh;
    color: #fff;
    font-family: Roboto;
    margin: 0;

}
/* nav-area css */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;
}
.contact {
    display: flex;
    align-items: center;
    gap: 10px;
}
.call-details p {
    margin: 0;
}
.menu-area a{
    text-decoration: none;
    margin: 0 10px;
    color: #fff;
}
.logo-area {
    width: 30%;
}
.logo-area img{
    background: #fff;
    padding: 5px;
    border-radius: 10px;
}
.divider {
    border-top: 3px solid #fff;
    width: 56vw;
    float: right;
    margin-right: 5%;
}
/* main area css */
main {
    padding: 2% 5%;
    display: flex;
    width: 90%;
    justify-content: space-between;
    position: relative;
}
.left-area {
    width: 50%;
}
.right-area {
    width: 50%;
}
.left-area h2 {
    font-size: 4vw;
    line-height: 1.5;
}
.left-area button{
    background-color: transparent;
    border-radius: 30px;
    padding: 10px 30px;
    color: #fff;
    border: 2px solid #fff;
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 10vh;
}
.right-area h4 {
    margin: 0;
    font-weight: normal;
}
.icon-box1{
    position: absolute;
    top: 30%;
    right:15%;
    color: #fff;
    width: 200px;
    background: rgb(48 69 86 / 80%);
    padding: 20px;
}
.icon-box2 {
    position: absolute;
    top: 66%;
    right:35%;
    color: #fff;
    width: 200px;
    background: rgb(48 69 86 / 80%);
    padding: 20px;
}
.right-area img {
    background: #fff;
    height: 2vw;
    padding: 0px 10px;
    border-radius: 10px;
}

/* Responsive CSS */
@media(max-width: 800px){
    /* nav-area */
    nav{
        flex-direction: column;
        text-align: center;
        gap: 4vh;
    }
    .logo-area {
        width: auto;
    }
    .divider {
        width: 100%;
        margin-right: 0;
        margin-top: 2vh;
    }
    /* main-ara */
    main{
        flex-direction: column;
        text-align: center;
        position: inherit;
    }
    .left-area,.right-area {
        width: 100%;
    }
    .icon-box1,.icon-box2 {
        position: inherit;
        margin: 5vh auto;
    }
    .left-area button {
        margin-bottom: 5vh;
        font-size: 4vw;
    }
}